# Heavy & Dev folders
node_modules/
dist/
test/

# Dev files, useless in container.
.env.template
.eslintignore
.eslintrc.js
.prettierrc

# The .env vars must be ignored during build, as we do not want them to be in the docker image to prevent leaking a secret.
# For the env vars that must be available during runtime, they will be exported by docker-compose
.env

# MAC OS folder info file
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Do not want a change in the dockerfile/docker-compose files making the npm build command to re-trigger
Dockerfile*
docker-compose*

# Git related files
.git
.gitignore

# Misc
.vscode
